head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
  title Paweł Malok - Front-End Developer
  link(rel="stylesheet", href=pstyle)
  link(rel="apple-touch-icon", sizes="180x180", href=pimg + "favicon/apple-touch-icon.png")
  link(rel="icon", type="image/png", sizes="32x32", href=pimg + "favicon/favicon-32x32.png")
  link(rel="icon", type="image/png", sizes="16x16", href=pimg + "favicon/favicon-16x16.png")
  link(rel="manifest", href=pimg + "favicon/site.webmanifest")
  link(rel="mask-icon", href=pimg + "favicon/safari-pinned-tab.svg", color="#e31119")
  meta(name="apple-mobile-web-app-title", content=mainPageTitle)
  meta(name="application-name", content=mainPageTitle)
  meta(name="msapplication-TileColor", content="#FFFFFF")
  meta(name="theme-color", content="#FFFFFF")
  link(href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,700&display=swap&subset=latin-ext" rel="stylesheet")